[General]
val_fontsize=1
Lines_Size=1
Preferred_Width=1027
Preferred_Height=639
Number_Chips=6
str_fontsize=small

[Chip0]
Name=iwlwifi_1-0
Number=0

[Chip1]
Name=BAT0-0
Number=1

[Chip2]
Name=coretemp-0
Number=2

[Chip2_Feature0]
Address=0
Name=CPU
Color=#D16768
Show=true
Min=0
Max=76

[Chip3]
Name=nvme-100
Number=3

[Chip4]
Name=acpitz-0
Number=4

[Chip5]
Name=ACPI
Number=5

[Chip5_Feature1]
Address=1
Name=termal_zone2
Color=#D16768
Show=true
Min=20
Max=60

[Chip5_Feature3]
Address=3
Name=GPU
Color=#0000B0
Show=true
Min=20
Max=60

